# Application
DEBUG=true

# JWT
JWT_SECRET=...

# OpenAI
OPENAI_API_KEY=sk-...

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

# MinIO
## AWS_ACCESS_KEY_ID 역할
MINIO_ROOT_USER=minio
## AWS_SECRET_ACCESS_KEY 역할
MINIO_ROOT_PASSWORD=minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT_URL=http://localhost:9000
MINIO_BUCKET=ket
MINIO_BROWSER_REDIRECT_URL=https://subdomain.ket.ai.kr

# Microsoft / Azure
TENANT_ID=...
CLIENT_ID=...
CLIENT_SECRET=...

# Gmail
GMAIL_APP_PASSWORD=...

# PortOne
PORTONE_API_SECRET=...
PORTONE_STORE_ID=store-UUID

# CORS
CORS_ORIGINS=["http://localhost:3000","https://www.ket.ai.kr"]
